//
//  Development.xcconfig
//  Example
//
//  Created by TIWASZEK on 06/05/2020.
//  Copyright © 2020 TIWASZEK. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "App-Base.xcconfig"

__PRODUCT_BUNDLE_IDENTIFIER_SUFFIX = .development

_ENVIRONMENTS = ENV_DEVELOPMENT
